
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

.student {
  font-weight: normal;
    text-decoration: underline;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border: dotted;
  border-bottom: none;
  border-color: lightgrey;
  border-width: 6px;
  width: 5%;
  margin: 100px auto;
}

.topcontainer {
  padding-top: 100px;
  background-color: #cbf1f5;
  position: relative;

}

.middlecontainer {
  margin: 100px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.circular {
  border-radius: 100%
}

.socialmedia {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.writing {
  width: 25%;
  float: right;
  margin-left: 30px;
}

p {
  line-height: 2;
}

.Hello {
  width: 30%;
  margin: auto;
}

.bottom-container {
  position: absolute;
  width: 100%;
  background-color: #66BFBF;
  padding: 40px 0 20px;
}

.footer-link {
  color: #11999E;
}

.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}

.contact {
  color: #11999E;
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
